
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,400&display=swap');

*{
    box-sizing: content-box;
}
body{ 
    margin: auto;
    width: 1160px;
    border-right: solid 3px;
    box-sizing: content-box;
}
header{
    background-color: #782221;
    padding: 2rem 1rem 1rem 1rem;
}
figure{
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.profil__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 1rem rgb(203, 185, 81), 1rem 0 1rem rgb(203, 185, 81);   
}
.profil__img:hover{
    cursor: zoom-in; 
}
h1, h2, h3, h4{
    font-family: Lato, sans-serif;
}
h1{text-align: center;
    color: white;
   
}
h2{text-align: center;
    color: white;
    
}
address{
    background-color:  #2c1d27;
    padding: 2rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.adress__align{
    padding-top: 16px;
    height: 40px;
}
a:link{
    color: white;
    text-decoration:none;
}
a:visited{
    color: white;
    text-decoration:none;
}
a:hover {text-decoration:underline;
}
main{
    display: flex;
}
.personal{
    background-color: #782221;
    width: 25%;
    padding: 10px 30px 10px 0;
    color: white;
}
.title{
    background-color: #dbc2a4;
    color: black;
    padding-left: 1rem;
}
.txt{
    margin-left: 1rem;
}
p{
    text-align: justify;
    text-indent: 1rem;
    font-family: Raleway, sans-serif; 
    font-size: 1rem;  
}
ul{
    font-family: Raleway, sans-serif;
}
.pro{
    padding: 1rem;
}
.pro>div>.title:hover{
    border-left: solid 5px #782221;
}
footer{
    background-color: #782221;
    padding: 1rem;
}
.contener__icon{
    width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icon{
    width: 40px;
    height: 40px;
}
footer>p{
    text-align: center;
    color: white;   
}
.mention{
    color:black;
}
.icon__opacity:hover{
    opacity: 0.7;
}
small{
    font-size: 0.5rem;
}